.link{
    list-style: none;
    text-decoration: none;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.create-customer-btn{
    color: white;
    text-decoration: none;
    background-image:linear-gradient(to right,rgb(6, 86, 102),rgb(6, 189, 156));
    padding: 3px 13px;
    text-align: center;
    font-weight: 600;
    margin: 0px 10px;
    border-radius: 2px;
   
}
